{% extends base_template %}
{% load i18n %}

{% block title %}模型更新{% endblock %}

{% block content %}
    <div style="

    ">
            <button class="layui-btn" style="
                width: 8em;
                height: 2.5em;
                border: none;
                background: #428bca;
                color: #eee;
                border-radius: 4px;
                font-size: small;
                display:block;
                margin-left: 3.5em;
                margin-bottom: 1em;"
            >爬虫算法更新</button>
    <button class="layui-btn" style="
                width: 8em;
                height: 2.5em;
                border: none;
                background: #428bca;
                color: #eee;
                border-radius: 4px;
                font-size: small;
                display:block;
                margin-left: 3.5em;
                margin-bottom: 1em;"
            >聚类算法更新</button>
    <button class="layui-btn" style="
                width: 8em;
                height: 2.5em;
                border: none;
                background: #428bca;
                color: #eee;
                border-radius: 4px;
                font-size: small;
                display:block;
                margin-left: 3.5em;
                margin-bottom: 1em;"
            >分类算法更新</button>
 
    </div>


{% endblock %}